:root {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header-h1 {
  font-size: 5rem;
  font-weight: 200;
  color: #b83f45;
}

.header-picture {
  width: 80px;
  height: auto;
  display: inline-block;
}

/* Home Container */
.home-container {
  max-width: 56rem;
  max-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.home-container h1 {
  text-align: center;
  line-height: 32px;
}

.home-container p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.home-container img {
  width: 50rem;
  height: auto;
  border-radius: 0.5rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .home-container img {
    width: 100%;
  }
}

.home-container footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container figcaption {
  text-align: center;
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

.pin-field-wrapper {
  display: block;
  text-align: center;
  margin: 1.25rem 0;
}

.back-to-login {
  outline: none;
}

.back-to-login:link {
  color: #6900ff;
}

.back-to-login:visited {
  color: #6900ff;
}

.back-to-login:focus {
  text-decoration: none;
  background: #bae498;
}

.back-to-login:hover {
  text-decoration: none;
  background: #cdfeaa;
}

.back-to-login:active {
  background: #6900ff;
  color: #cdfeaa;
}

.create-task-button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
}

.flex-and-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-and-center p {
  font-size: 1.3rem;
}

.completed-table-cell {
  color: #949494;
  text-decoration: line-through;
  background-color: #e5e5e5;
}

.overdue-table-cell {
  background-color: #fee2e2;
}
